.product-card a {
  text-decoration: none;
}

.product-card {
  width: 25%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 0.4s;
  background: #f2f2f2;
}

.product-card:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -8px);
}

.card-image {
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.card-infos {
  padding: 20px;
  border-top: 2px solid #ddd;
  color: bla;
}

.card-price {
  font-size: 26px;
  text-align: center;
  color: #222f3e;
  margin: 0;
}

.card-title {
  text-align: center;
  font-size: 22px;
  margin: 30px 10px;
  padding-top: 10px;
  color: black;
}

.card-button {
  text-align: center;
  font-size: 24px;
  color: #fff;
  width: 100%;
  padding: 15px;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: cornflowerblue;
}

@media (max-width: 1000px) {
  .product-card {
    width: 45%;
  }
}

@media (max-width: 750px) {
  .product-card {
    width: 100%;
  }
}
